---
import type { CollectionEntry } from "astro:content";

import Shell from "~/layouts/Shell.astro";

import { FormattedDate } from "~/components/FormattedDate";
import { TagList } from "~/components/TagList";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, image, readingTime, tags } = Astro.props;
---

<Shell title={title} description={description}>
  <div class="prose max-w-none mx-auto">
    <div class="flex flex-col sm:flex-row justify-between gap-2 not-prose">
      <div class="flex shrink-0 gap-1">
        <FormattedDate date={pubDate} />
        &middot;
        <span>{readingTime}</span>
      </div>

      {tags?.length && <TagList tags={tags} />}
    </div>

    <h1 class="text-3xl sm:text-5xl lg:text-7xl">
      {title}
    </h1>
  </div>
  {
    image && (
      <div class="relative">
        <div
          class="absolute w-full h-full bg-center opacity-35"
          style={{ backgroundImage: `url(${image.url})` }}
        />
        <div class="w-full backdrop-blur-3xl">
          <img src={image.url} alt={image.alt} class="mx-auto" />
        </div>
      </div>
    )
  }

  <article
    class={[
      "prose max-w-none mx-auto sm:text-lg",
      "[&>details]:border [&>details>ul>li>a]:block",
    ].join(" ")}
  >
    <slot />
  </article>
</Shell>
