---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

import Shell from "~/layouts/Shell.astro";

dayjs.extend(utc);

const { frontmatter } = Astro.props;
---

<Shell pageTitle={frontmatter.title}>
  <div class="prose max-w-none mx-auto">
    <div class="flex gap-1">
      <d
        >{
          dayjs(frontmatter.pubDate.toString().slice(0, 10)).format(
            "DD MMMM, YYYY",
          )
        }</d
      >
      &middot;
      <span>{frontmatter.readingTime}</span>
    </div>

    <h1 class="text-3xl sm:text-5xl lg:text-7xl">
      {frontmatter.title}
    </h1>
  </div>

  <div
    class="bg-center"
    style={{
      backgroundImage: `url(${frontmatter.image.url})`,
    }}
  >
    <div class="w-full backdrop-blur-3xl">
      <img
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
        class="mx-auto"
      />
    </div>
  </div>

  <article
    class={[
      "prose max-w-none mx-auto sm:text-lg",
      "[&>details]:border [&>details>ul>li>a]:block",
    ].join(" ")}
  >
    <slot />
  </article>

  <div class="border-y border-dashed py-4">
    <ul class="flex flex-wrap gap-2 sm:text-lg">
      {
        frontmatter.tags?.map((tag: string) => (
          <li class="">
            <a
              href={`/tags/${tag}`}
              class="bg-accent text-accent-foreground border-accent-foreground"
            >
              #{tag}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Shell>
