---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

import Shell from "~/layouts/Shell.astro";

import { Container } from "~/components/Container";

dayjs.extend(utc);

const { frontmatter } = Astro.props;
---

<Shell pageTitle={frontmatter.title}>
  <div class="prose max-w-none mx-auto">
    <div class="flex gap-1 text-sm">
      <d
        >{
          dayjs(frontmatter.pubDate.toString().slice(0, 10)).format(
            "DD MMMM, YYYY",
          )
        }</d
      >
      &middot;
      <span>{frontmatter.readingTime}</span>
    </div>

    <h1 class="text-3xl sm:text-5xl lg:text-7xl">
      {frontmatter.title}
    </h1>
  </div>

  <Container>
    <div
      class="bg-center"
      style={{
        backgroundImage: `url(${frontmatter.image.url})`,
      }}
    >
      <div class="w-full backdrop-blur-3xl">
        <img
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          class="mx-auto"
        />
      </div>
    </div>
  </Container>

  <article
    class={[
      "prose max-w-none mx-auto sm:text-lg",
      "[&>details]:border [&>details>ul>li>a]:block",
    ].join(" ")}
  >
    <slot />
  </article>
</Shell>
